{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/edit.css' %}">
{% endblock css %}
    

{% block title %}
    Edit {{item.name}}
{% endblock title %}
    


{% block content %}
<div class="container">
<div class="card border-0" style="width: 40rem;">
    <div id="image_box">
        <img id="image" src="{% static 'images/empty_f.jpeg' %}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
    </div>
    <div>
        <form  method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            <div  id="image" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.image.label_tag }}</label>
                {{ form.image.errors }}
                {% render_field form.image class="form-control border-primary"  name="image" id="id_image"%}
            </div>

            <div  id="inside_number" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.inside_number.label_tag }}</label>
                {{ form.inside_number.errors }}
                {% render_field form.inside_number class="form-control border-primary"  name="inside_number" id="id_inside_number"%}
            </div>

            <div  id="name" class="forms-control  {% if field.errors %} errors {% endif %} ">
                <label>{{ form.name.label_tag }}</label>
                {{ form.name.errors }}
                {% render_field form.name class="form-control border-primary"  name="name" id="id_name"%}
            </div>


            <div class="forms-control-cat">
                <div  id="category" class="forms-control {% if field.errors %} errors {% endif %} ">
                    <label>{{ form.category.label_tag }}</label>
                    {{ form.category.errors }}
                    {% render_field form.category class="form-control border-primary"  name="category" id="id_category"%}
                </div>
                <div class="btn">
                    <!-- <a href="{% url 'add-category' %}?next={{item.id}}" class="btn btn-primary">Add Category</a> -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        New Category
                      </button>
                </div>
            </div>

            <div  id="setting" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.setting.label_tag }}</label>
                {{ form.setting.errors }}
                {% render_field form.setting class="form-control border-primary"  name="setting" id="id_setting"%}
            </div>

            <div  id="stone" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.stone.label_tag }}</label>
                {{ form.stone.errors }}
                {% render_field form.stone class="form-control border-primary"  name="stone" id="id_stone"%}
            </div>

            <div  id="weight" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.weight.label_tag }}</label>
                {{ form.weight.errors }}
                {% render_field form.weight class="form-control border-primary"  name="weight" id="id_weight"%}
            </div>

            <div  id="description" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.description.label_tag }}</label>
                {{ form.description.errors }}
                {% render_field form.description class="form-control border-primary"  name="description" id="id_description"%}
            </div>

            <div  id="purchase_price" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.purchase_price.label_tag }}</label>
                {{ form.purchase_price.errors }}
                {% render_field form.purchase_price class="form-control border-primary"  name="purchase_price" id="id_purchase_price"%}
            </div>

            <div  id="sale_price" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.sale_price.label_tag }}</label>
                {{ form.sale_price.errors }}
                {% render_field form.sale_price class="form-control border-primary"  name="sale_price" id="id_sale_price"%}
            </div>

            <div  id="certificate" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ form.certificate.label_tag }}</label>
                {{ form.certificate.errors }}
                {% render_field form.certificate class="form-control border-primary"  name="certificate" id="id_certificate"%}
            </div>

            <button type="submit" class="btn btn-success mt-2 mb-5">Save</button>
        </form>
    </div>
    
  </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form id="category_form" method="POST" action="{% url 'add-category' %}" >
            {% csrf_token %}
            <div  id="mcat_name" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ category_form.main_cat_name.label_tag }}</label>
                {{ category_form.main_cat_name.errors }}
                {% render_field category_form.main_cat_name class="form-control border-primary"  name="main_cat_name_input" id="main_cat_name"%}
            </div>
            
            <div  id="cat_name" class="forms-control {% if field.errors %} errors {% endif %} ">
                <label>{{ category_form.category_name.label_tag }}</label>
                {{ category_form.category_name.errors }}
                {% render_field category_form.category_name class="form-control border-primary"  name="category_name_input" id="category_name"%}
            </div>
                <input type="hidden"  name="post_id" value="{{item.id}}">
                <button id="save_btn" type="submit" class="btn btn-success mt-2 mb-5">Save</button>
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- <a href= "{% url 'get-categories' %}"></a>


<script>
    // Przypisz wynikowy URL do zmiennej JavaScript
    var categoryUrl = "{% url 'get-categories' %}";
  
    // Możesz użyć tej zmiennej URL w swoim skrypcie JavaScript
    console.log(categoryUrl);
  </script>
   -->



<script src="{% static 'js/edit.js' %}"></script>

<!-- {{ "{% url 'get-categories' %}"|json_script:"category_url"}} -->
{% endblock content %}


