{% extends '_base.html' %}
{% load static  %}



{% block css %}
    <link rel="stylesheet" href="{% static 'style/detail.css' %}">
{% endblock css %}
    

{% block title %}
    Detail
{% endblock title %}


{% block content %}

<div class="row">
  <div class="column-70" >
    <div id="image">
        <img id="item" src="{{item.image.url}}" alt="">
    </div>
  </div>
  <div class="column-30" >
    <div class="title-section">
        <h1 class="title">{{item.name}}</h1>
        <p class="in_num">{{item.inside_number}}</p>
    </div>
    <div class="action">
      <button type="button" class="btn btn-primary"><a href="{% url 'edit' item.id %}">Edit</a></button>
      
      
      {% if not  item.sold %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Sell
      </button>
      {% endif %}
        
      
      
      <button class="btn btn-danger" hx-delete="{% url 'delete' item.id %}?next={% url 'home'%}" hx-confirm="Are you sure you want to delete this item?" >Delete</button>
      
    </div>
  </div>
</div>

<div class="row mt-2">
    <div class="column">
      <div class="col">
        <div class="box-title">
            <h4>Product details</h4>
        </div>
        
        <hr class="hr">

        <div class="item-detail">
            <p><span>nr:</span> {{item.inside_number}}</p>
            <p><span>Category:</span> {{item.category.category_name}}</p>
            <p><span>Stone:</span> {{item.stone}}</p>
            <p><span>Setting:</span> {{item.setting}}</p>
            <p><span>Weight:</span> {{item.weight}}g</p>

            

        </div>
        
      </div>
    </div>

    <div class="column">
      <div class="col">
        <div class="box-title">
            <h4>Product description</h4>
        </div>

        <hr class="hr">

        <div class="item-description">
          <p>{{item.description}}</p>
        </div>

      </div>
    </div>
</div>


{% include 'core/partials/modal.html' %}

{% endblock content %}
    