{% extends '_base.html' %}


{% block css %}
    
{% endblock css %}
    

{% block title %}
    Home
{% endblock title %}
    


{% block content %}
    {{message}}
    <table class="table table-striped table-hover mt-2">
        <thead>
          <tr>
            <th scope="col">Inside Number</th>
            <th scope="col">Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Purchase price</th>
            <th scope="col">checkbox</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">   
            {% for item in items  %}
            <tr>
                <th scope="row">{{item.inside_number}}</th>
                <td><a href="{% url 'detail' item.id %}">{{item.name}}</a></td>
                <td>{{item.weight}}g</td>
                <td>{{item.purchase_price}}</td>
                <td><input type="checkbox"></td>
              </tr>
            </a>
            
              
            {% endfor %}  
        </tbody>
      </table>
      
        
{% endblock content %}
    
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Inside Number</li>
        <li class="list-group-item">Name</li>
        <li class="list-group-item">Purchase price </li>
      </ul>
</div>

{% for item in items  %}
<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{item.inside_number}}</li>
        <li class="list-group-item">{{item.name}}</li>
        <li class="list-group-item">{{item.purchase_price}}</li>
      </ul>
</div>
    
{% endfor %}