{% extends '_base.html' %}
{% load static  %}


{% block css %}
    
{% endblock css %}
    

{% block title %}
    Home
{% endblock title %}
    


{% block content %}
    <table class="table table-striped table-hover mt-2">
        <thead>
          <tr>
            <th scope="col">Inside Number</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Weight</th>
            <th scope="col">Purchase price</th>
            <th scope="col">Sale price</th>
            <th scope="col">Main Category</th>
            <th scope="col">Category</th>

          </tr>
        </thead>
        <tbody class="table-group-divider">   
            {% for item_entry in item_data  %}
            
            {% if  not item.sold  %}<tr>
              <th scope="row">{{item_entry.item.inside_number}}</th>
              <td><a href="{% url 'detail' item_entry.item.id %}">{{item_entry.item.name}}</a></td>
              <td><img src="{{item_entry.images.0}}" alt="" style="width:50px"></td>
              <td>{{item_entry.item.weight}}g</td>
              <td>{{item_entry.item.purchase_price}}</td>
              <td>{{item_entry.item.sale_price}}</td>
              <td>{{item_entry.item.category.main_cat_name}}</td>
              <td>{{item_entry.item.category.category_name}}</td>
            </tr>
              
            {% endif %}
              
            
            
              
            {% endfor %}  
        </tbody>
      </table>
      
   
{% endblock content %}
    
