{% extends 'base_shop.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'style/categories.css' %}">

{% endblock css %}
    

    
    <title>Category</title>
        

{% block content %}
<section id="cat-product">
    <h2>Categories</h2> 
    <!-- <p>Summer clection</p> -->
    <div class="cat-pro-container">
        
        {% for data in item_data %}
            <div class="cat-pro">
                <a href="{% url 'shop-detail' data.item.id %}"><img src="{{data.images.0.image.url}}"  alt=""></a>
                <div class="des">
                    <h6>{{data.item.name}}</h6>
                    <p>{{data.item.sale_price}}zł</p>
                </div>
            </div>
        {% endfor %}
    </div>        
</section>
        
<div class="pagination">
    <span class="step-links">
        {% if p_items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ p_items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ p_items.number }} of {{ p_items.paginator.num_pages }}.
        </span>

        {% if p_items.has_next %}
            <a href="?page={{ p_items.next_page_number }}">next</a>
            <a href="?page={{ p_items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    
{% endblock content %}
    <!-- {% for item in items %}
    
    {% if item.category.main_cat_name.main_name == "Biżuteria Dawna" %}
        <h2>{{item.category.main_cat_name}}</h2>
  
    {% elif item.category.main_cat_name.main_name == "Biżuteria Współczesna" %}
        <h2>{{item.category.main_cat_name}}</h2>
    {% endif %}
            
    {% endfor %} -->
        