{% extends 'base_shop.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/detail_shop.css' %}">
{% endblock css %}
    



{% block content %}
    <section id="prodetails">
        <div class="sigiel-pro-image">
            <img src="{{images.0.image.url}}"  width="100%" id="MainImage">
            <div class="small-image-group">    
                {% for image in images  %}
                    <div class="small-image-col">
                        <img src="{{image.image.url}}" width="100%" class="small-img" alt="">
                    </div>
                {% endfor %}   
            </div>
        </div>

        <div class="single-pro-details">
            <h6>{{item.category}}</h6>
            <h1>{{item.name}}</h1>
            <p><span>Dostępność:</span> <strong>PLac Mirowski 12 Warszawa</strong></p>
            
            <h4>{{item.sale_price}}zł</h4>
            <h4>Opis Produktu</h4>
            <samp class="description">{{item.description}}</samp>
            
            <ul class="product-details">
                <li><strong>Rodaj kamienia:</strong> {{item.stone}}</li>
                <li><strong>Wykończenie:</strong> {{item.setting}}</li>
                <li><strong>Masa:</strong> {{item.weight}}g</li>
                <li><strong>Kategoria:</strong> {{item.category.category_name}}</li>
            </ul>
            <div class="buttons">
                <button class="bn632-hover bn26">Zarezerwój</button>
                <button class="bn632-hover bn26">Zarezerwój</button>
            </div>
        </div>
    </section>


    <section id="product1">      
        <div class="header">
        <h2>Produkty z tej samej kategorii </h2>
        </div>
        <hr>
        <div class="pro-container">
            
            {% for others_item in others_items_in_category_data %}
                <div class="pro">
                    <a href="{% url 'shop-detail' others_item.other_item.id %}"><img src={{others_item.other_images.0.image.url}} alt=""> </a>
                    <p>{{others_item.other_item.name}}</p>
                    <div class="des">
                    </div>
                </div>
            {% endfor %}
                
            
        </div>   
    </section>

    
    <section id="product1">  
        <div class="header">
            <h2>Ostatnio Oglądane </h2>
        </div>    
        <hr>
        <div class="pro-container">
            {% for recently_viewed in recently_viewed_items_data %}
                <div class="pro">
                    <img src={{recently_viewed.images.0.image.url}} alt=""> 
                    <p>{{recently_viewed.recently_item.name}}</p>
                    <div class="des">
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </section>


    <script>
        var main_image =document.getElementById("MainImage")
        var small_images = document.getElementsByClassName("small-img")

       
        for (var i = 0; i < small_images.length; i++) {
            small_images[i].onclick = function() {
                main_image.src = this.src;
            }
        }

        
    </script>
    
{% endblock content %}
    

