{% extends 'base_shop.html' %}

{% load static %}

{% block content %}

    <div class="carousel"> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
                url('../../static/images/baner/baner-1.jpeg');"> 
            </div> 
        </div> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
                url('../../static/images/baner/dyplom.jpeg');"> 
            </div> 
        </div> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
        url('../../static/images/baner/lab.jpeg');  background-size: 100%"> 
            </div> 
        </div> 
        
    </div> 


    <section id="buy" >
        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-zl.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup Metali Szlahetnych</h2>
                    <table >
                        <tr>
                            <th>Próba złota</th>
                            <th>cena za gram</th>
                        </tr>
                        <tr>
                            <td>333</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>375</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td>585</td>
                            <td>143</td>
                        </tr>
                        <tr>
                            <td>750</td>
                            <td>182</td>
                        </tr>
                    </table>
                    <button  class="bn632-hover bn26">Kalkulator Cen</button>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-d.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup i Wycena Diamentów</h2>
                    <p>Gwarantujemy fachową ocenę, wystawiamy certyfikaty. Nasza firma jest członkiem Klubu Absolwentów Wysokiej Rady Diamentów w Antwerpii (HRD Antwerp - Diamond High Council Antwerp). Firma dysponuje w pełni wyposażonym laboratorium do badania kamieni szlachetnych. </p>
                    <button  class="bn632-hover bn26">Więcej</button>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-biz.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup i Wycena Bizuterii</h2>
                    <p>Skupujemy biżuterię ze złota, srebra i platyny . Oferujemy atrakcyjne ceny i szybki proces sprzedaży. Specjalizujemy się równiez w bizuteri anytykwarycznej.</p>
                    <button  class="bn632-hover bn26">Więcej</button>
                </div>
            </div>
        </div>
    </section>

    <section id="product1">
        <h2>Bizuteria Vintage</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="text" >
                <h3>Bizuteria dawna</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis quaerat 
                </p>
                <button>Zobacz Więcej</button>
                </div>
            </div>
        </div>

        

        
            
    </section>

    <section id="banner">
        <div>
            <a href=""><img src="{% static 'images/baner/gemmologia.jpeg' %}" alt=""></a>
        </div>
    </section>

    <section id="engagement">
        <div class="text">
            <h3>Zaręczyny</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem consequuntur itaque mollitia in iure minus repudiandae praesentium optio quas sint nam.</p>
            <button>Więcej</button>
        </div>
        <div class="img">
            <img src="{% static 'images/zareczyny/baner.jpg' %}" alt="">
        </div>
    </section>

    <section id="product1">
        <h2>Pierścionki Zaręczynowe</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            </div>
        </div>

        

        
            
    </section>

    <section id="wedding">
        <div class="title">
            <h1>Ślub</h1>
        </div>
        <div class="images">
            <div class="">
                <a href="">
                    <img src="{% static 'images/weding/12.jpg' %}" alt="">
                </a>
            </div>
            <div class="lower">
                <a href="">
                    <img src="{% static 'images/weding/slub.jpg' %}" alt="">
                </a>
            </div>
        </div>

    </section>

    <section id="product1">
        <h2>Obrączki ślubne</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            </div>
        </div>

        

        
            
    </section>

    

    <section id="banner_01">
        <h4>Bizuteria Premium</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero labore iusto dignissimos et perferendis</p>
        <button class="bn632-hover">Więcej</button>
    </section>

    <section id="brands">
        <div class="rolex">
            <a href="#"><img src="{% static 'images/brands/rolex.jpeg' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/bvlgari.png' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/chopard.jpg' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/piaget.png' %}" alt=""></a>
        </div>
      
    </section>

    <section id="product1">
        <h2>Bizuteria Premium</h2>
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            </div>
        </div>

        

        
            
    </section>

    <section id="forum-designe">
        <div class="bg-image">
            <div>
                <h1>Disigne By</h1>
                <h2>Forum</h2>
            </div>

        </div>
    </section>

    <section id="fr-jewelry">
        <div class="pro-container">
            <div class="fr-text" >
                <h3>Bizuteria zaprojektowana na zamówienie </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis quaerat 
                </p>
                <button class="bn632-hover bn26 ">Nasze realizacje</button>
            </div>
            
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>
            
        </div>
    </section>


    <section id="contact">
        <div >
            <img src="{% static 'images/baner/ekspert.jpeg' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/baner/prezent.jpeg' %}" alt="">
        </div>
        
    </section>
    {% endblock content %}
  

   
