{% extends 'base_shop.html' %}
{% load static %}


{% block content %}

    <div class="carousel"> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
                url('../../static/images/baner/baner-1.jpeg');"> 
            </div> 
        </div> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
                url('../../static/images/baner/dyplom.jpeg');"> 
            </div> 
        </div> 
        <div class="carousel-item"> 
            <div class="slide-image"
                style="background-image:  
        url('../../static/images/baner/lab.jpeg');  background-size: 100%"> 
            </div> 
        </div> 
        
    </div> 
 


    <section id="buy" >
        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-zl.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup Metali Szlachetnych</h2>
                    <table class="tbl">
                        <tr class="tbl-tr">
                            <th class="tbl-th">Próba złota</th>
                            <th class="tbl-th">cena za gram</th>
                        </tr>
                        {% for metal in metal_prices  %}
                            {% if metal.grade == 585 or metal.grade == 750 or metal.grade == 333 or metal.grade == 375 %}                            
                                <tr class="tbl-tr">
                                    <td class="tbl-td">{{metal.material}} {{metal.grade}}</td>
                                    <td class="tbl-td">{{metal.price}}zł/g</td>
                                </tr>
                            {% endif %}
                        {%endfor%}                   
                    </table>
                    <a href="{% url 'calculator' %}"><button  class="bn632-hover bn26">Kalkulator Cen</button></a>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-d.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup i Wycena Diamentów</h2>
                    <p>Gwarantujemy fachową ocenę, wystawiamy certyfikaty. Nasza firma jest członkiem Klubu Absolwentów Wysokiej Rady Diamentów w Antwerpii (HRD Antwerp - Diamond High Council Antwerp). Firma dysponuje w pełni wyposażonym laboratorium do badania kamieni szlachetnych. </p>
                    <button  class="bn632-hover bn26">Więcej</button>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <div id="b-box" class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="{% static 'images/baner/sk-biz.jpeg' %}" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>Skup i Wycena Bizuterii</h2>
                    <p>Skupujemy biżuterię ze złota, srebra i platyny . Oferujemy atrakcyjne ceny i szybki proces sprzedaży. Specjalizujemy się równiez w bizuteri anytykwarycznej.</p>
                    <button  class="bn632-hover bn26">Więcej</button>
                </div>
            </div>
        </div>
    </section>

    <section id="product1">
        <h2>Biżuteria Vintage</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">
            
            {% for data in old_items_data   %}

                <div class="pro">
                    <a href="{% url 'shop-detail' data.item.id %}"><img src="{{data.images.0.image.url}}" alt=""></a>
                    <div class="des">
                    </div>
                </div>
              
            {% endfor %}
                
            <div class="text" >
                <h3>Biżuteria dawna</h3>
                <p>Posiadamy szeroki wybór biżuterii antykwarycznej i vintage 
                </p>
                <button class="bn632-hover bn26">Zobacz Więcej</button>
                </div>
            </div>
        </div>

    </section>

    <section id="banner">
        <div>
            <a href=""><img src="{% static 'images/baner/gemmologia.jpeg' %}" alt=""></a>
        </div>
    </section>

    <section id="engagement">
        <div class="text">
            <h3>Zaręczyny</h3>
            <p>Jak zaręczyny to tyko z Forum Jubiler. Znajdziemy dla ciebie idealny pierścionek w najlepszej cenie  
            </p>
            <button class="bn632-hover bn26">Więcej</button>
        </div>
        <div class="img">
            <img src="{% static 'images/zareczyny/zareczyny.jpg' %}" alt="">
            <!-- <a href="https://pl.freepik.com/darmowe-zdjecie/mezczyzna-trzyma-obraczke-przed-zdumiony-szczesliwy-dziewczyna-zaslaniajac-usta-reka-romantyczne-zdjecie-uroczej-kobiety-stojacej-na-dachu-wczesnym-wieczorem-na-randke-z-chlopakiem-w-rocznice_21957748.htm#&position=0&from_view=search&track=ais&uuid=67d28973-0b4b-43ff-b5e2-18bcbc52f77d">Autor: lookstudio</a> na Freepik -->

        </div>
        <div class="img">
            <img src="{% static 'images/zareczyny/baner.jpg' %}" alt="">
            <!-- <a href="https://pl.freepik.com/darmowe-zdjecie/mezczyzna-trzyma-obraczke-przed-zdumiony-szczesliwy-dziewczyna-zaslaniajac-usta-reka-romantyczne-zdjecie-uroczej-kobiety-stojacej-na-dachu-wczesnym-wieczorem-na-randke-z-chlopakiem-w-rocznice_21957748.htm#&position=0&from_view=search&track=ais&uuid=67d28973-0b4b-43ff-b5e2-18bcbc52f77d">Autor: lookstudio</a> na Freepik -->
        </div>
    </section>

    <section id="product1">
        <h2>Pierścionki Zaręczynowe</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">

            {% for data in modern_jewelry_data %}

                <div class="pro">
                    <a href="{% url 'shop-detail' data.item.id %}"><img src="{{data.images.0.image.url}}" alt=""></a>
                    <div class="des">
                    </div>
                </div>
              
            {% endfor %}
            
        </div>

        

        
            
    </section>

    <section id="wedding">
        <div class="title">
            <h1>Ślub</h1>
        </div>
        <div class="images">
            <div class="">
                <a href="">
                    <img src="{% static 'images/weding/slub2.jpg' %}" alt="">
                    <a href="https://pl.freepik.com/darmowe-zdjecie/mezczyzna-trzyma-obraczke-przed-zdumiony-szczesliwy-dziewczyna-zaslaniajac-usta-reka-romantyczne-zdjecie-uroczej-kobiety-stojacej-na-dachu-wczesnym-wieczorem-na-randke-z-chlopakiem-w-rocznice_21957748.htm#&position=0&from_view=search&track=ais&uuid=67d28973-0b4b-43ff-b5e2-18bcbc52f77d">Autor: lookstudio</a> na Freepik
                </a>
            </div>
            <div class="lower">
                <a href="">
                    <img src="{% static 'images/weding/slub1.jpg' %}" alt="">
                    <a href="https://pl.freepik.com/darmowe-zdjecie/mezczyzna-trzyma-obraczke-przed-zdumiony-szczesliwy-dziewczyna-zaslaniajac-usta-reka-romantyczne-zdjecie-uroczej-kobiety-stojacej-na-dachu-wczesnym-wieczorem-na-randke-z-chlopakiem-w-rocznice_21957748.htm#&position=0&from_view=search&track=ais&uuid=67d28973-0b4b-43ff-b5e2-18bcbc52f77d">Autor: lookstudio</a> na Freepik
                </a>
            </div>
        </div>

    </section>

    <section id="product1">
        <h2>Obrączki ślubne</h2>
        <!-- <p>Summer clection</p> -->
        <div class="pro-container">
            {% for data in wedding_rings_data %}

                <div class="pro">
                    <a href="{% url 'shop-detail' data.item.id %}"><img src="{{data.images.0.image.url}}" alt=""> </a>
                    <div class="des">
                    </div>
                </div>
              
            {% endfor %}
        </div>

        

        
            
    </section>

    

    <section id="banner_01">
        <h4>Biżuteria Premium</h4>
        <p>W naszym salonie znajdą Państwo biżuterię światowych marek premium takich jak Rolex, Piaget, Choprad</p>
        <button class="bn632-hover">Więcej</button>
    </section>

    <section id="brands">
        <div class="rolex">
            <a href="#"><img src="{% static 'images/brands/rolex.jpeg' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/bvlgari.png' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/chopard.jpg' %}" alt=""></a>
        </div>
        <div>
            <a href="#"><img src="{% static 'images/brands/piaget.png' %}" alt=""></a>
        </div>
      
    </section>

    <section id="product1">
        <h2>Biżuteria Premium</h2>
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/b2.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            </div>
        </div>

        

        
            
    </section>

    <section id="forum-designe">
        <div class="bg-image">
            <div>
                <h1>Design By</h1>
                <h2>Forum</h2>
            </div>
        </div>

    </section>
    <span style="font-size:10px; margin-left: 150px;">    
        <a href="https://pl.freepik.com/darmowe-zdjecie/model-demonstrujacy-kolczyki-i-pierscionek_13527449.htm#fromView=search&page=1&position=40&uuid=c52a8e7e-b073-447b-ad3c-20c586ade816" style="font-size: 10px;">Autor</a> Freepik
    </span>

    <section id="fr-jewelry">
        <div class="pro-container">
            <div class="fr-text" >
                <h3>Biżuteria zaprojektowana na zamówienie </h3>
                <p>W naszej pracowni wykonujemy biuterię na indywidualne zamówienie klienta. Nie ma dla nas rzeczy niemożliwych</p>
                <button class="bn632-hover bn26 ">Nasze realizacje</button>
            </div>
            
            <div class="pro">
                <img src="{% static 'images/dawna/b1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>

            <div class="pro">
                <img src="{% static 'images/dawna/p1.JPG'%}" alt=""> 
                <div class="des">
                </div>
            </div>
            
        </div>
    </section>


  
    {% endblock content %}
  

   
