#prodetails{
    display: flex;
    margin-top: 20px;
}

.sigiel-pro-image{
    padding: 10px 50px;
    width: 65%;
    margin-right: 50px;  
}


.small-image-group{
    display: flex;
    /* justify-content: space-between; */
}

.small-image-col{
    margin-left: 5px;
    flex-basis: 24%;
    cursor: pointer;
}


#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;    
}


#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h1{
    padding: 40px 0 20px 0;
    font-size: 20px;
}

#prodetails .single-pro-details .description{
    margin-bottom: 20px;
}


.product-details {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto; /* Dwa kolumny */
    grid-gap: 10px; /* Odstęp między kolumnami */
}


.buttons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header{
    display: flex;
    align-items: start;
}

.header h2{
    font-size: 15px;
}

