@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
    width: 100%;
}

#top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}



#top-header #left li{
    font-size: 10px;
    color: rgb(70, 108, 140);
    display: inline;
    list-style: none;
    position: relative;
    padding: 0 20px;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(70, 108, 140);
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gold{
    width: 100%;
    margin-right: 50px;
    border: 1px solid rgb(28, 54, 75);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: rgb(70, 108, 140);
    box-shadow:0 5px 15px rgb(0,0,0,0.0.06);
}

#gold:hover{
    border: 1px solid rgb(71, 131, 180);
    cursor: pointer;
    color: red;
}

#gold a:hover{
    /* color: rgb(41, 144, 137); */
    font-weight: bold;
}

#icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons ul {
    display: flex;
    padding: 0;
    margin: 0;
}

#icons li {
    margin: 0;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}




/* HEADER */

.logo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.logo a:hover img {
    filter: brightness(1.5); 
}


.nav {
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}

.nav ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}